.course_list{
	margin-top: 12rpx;
	.course_add{
		margin-top: 6rpx;
	}
	.course_flex{
		display: flex;
		align-items: center;
		margin: 12rpx 0;
	}
	.course_item{
		background-color: #ebebfd;
		padding: 12rpx;
		border-radius: 6rpx;
		margin: 6rpx 0;
		.course_label{
			width: 90rpx;
		}
		.course_fee{
			    width: 460rpx;
		}
	}
}
.hide_mobile{
	text-align: right;
}
.hide_mobile_tip{
	font-size: 22rpx;
	color: #999999;
}