<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <title>意见反馈</title>
    <meta name="keywords" content="重庆家教、重庆私教、重庆一对一、重庆补课" />
    <meta name="description" content="向日葵家教，重庆家教/私教/一对一补课，人人都请得起的家教平台" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/feedback.css" />
</head>

<body>
   <div class="submit_opinion">
       <form action="#" method="post" class="layui-form contact_from">
        <div class="submit_infocontainer">
            <div class="head_text">
                <text class="instru_title">意见反馈</text>
            </div>
            <div class="areate_box">
                <textarea maxlength="-1" name="content" id="content" lay-verify="required" placeholder="请详细描述您的意见" class="uni-textarea-textarea"></textarea>
            </div>
            <div class="bomt_input">
                <div class="list_inputbox">
                    <text>联系人:</text>
                    <div class="input_box">
                        <input type="text" name="link_man" id="link_man" lay-verify="required" placeholder="请输入联系人">
                    </div>
                </div>
                <div class="list_inputbox">
                    <text>联系电话:</text>
                    <div class="input_box">
                        <input type="text" maxlength="11" name="mobile" id="mobile" lay-verify="required" placeholder="请输入联系人电话">
                    </div>
                </div>
            </div>
            <div class="buton_submit">
                <button  type="button"  lay-submit="" lay-filter="submitMsg">提交</button>
            </div>
        </div>
       </form>
    </div>
</body>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/plugins/layui/layui.js"></script>
</html>
<script type="text/javascript">
    layui.use(['form'], function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.$;

        form.on('submit(submitMsg)',function (data) {

            $.ajax({
                url : '/user/feedback',
                type : 'post',
                dataType : 'json',
                data : data.field,
                success : function (res) {
                    console.log(res);
                    if(res.status==200){
                        layer.msg(res.msg,{time: 1000},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(res.msg);
                    }
                }
            })
            return false;
        })
    });


</script>