<div class="tabbar">
    <div class="navigator">
        <a class="list_tabr" href="/index">
            <div class="autobox">
                <div class="imgabox">
                    <div class="no_img">
                        {if $nav==1}
                        <img src="/img/tabbar/bar1_active.png" draggable="false">
                        {else}
                        <img src="/img/tabbar/bar1.png" draggable="false">
                        {/if}
                    </div>
                </div>
                <span>首页</span>
            </div>
        </a>
        <a class="list_tabr" href="/teacher/register.html">
            <div class="autobox">
                <div class="imgabox">
                    <div class="no_img">
                        {if $nav==2}
                        <img src="/img/tabbar/bar2_active.png" draggable="false">
                        {else}
                        <img src="/img/tabbar/bar2.png" draggable="false">
                        {/if}
                    </div>
                </div>
                <span>教员注册</span>
            </div>
        </a>
        <a class="list_tabr" href="/student/release.html">
            <div class="autobox">
                <div class="imgabox">
                    <div class="no_img">
                        {if $nav==3}
                        <img src="/img/tabbar/bar3_active.png" draggable="false">
                        {else}
                        <img src="/img/tabbar/bar3.png" draggable="false">
                        {/if}
                    </div>
                </div>
                <span>学员发布</span>
            </div>
        </a>
        <a class="list_tabr" href="/customer_service">
            <div class="autobox">
                <div class="imgabox">
                    <div class="no_img">
                        {if $nav==4}
                        <img src="/img/tabbar/bar4_active.png" draggable="false">
                        {else}
                        <img src="/img/tabbar/bar4.png" draggable="false">
                        {/if}
                    </div>
                </div>
                <span>客服</span>
            </div>
        </a>
        <a class="list_tabr" href="/user">
            <div class="autobox">
                <div class="imgabox">
                    <div class="no_img">
                        {if $nav==5}
                        <img src="/img/tabbar/bar5_active.png" draggable="false">
                        {else}
                        <img src="/img/tabbar/bar5.png" draggable="false">
                        {/if}
                    </div>
                </div>
                <span>我的</span>
            </div>
        </a>
    </div>
</div>
</body>
<script src="/js/jquery-2.1.1.min.js"></script>