<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <title>教员简历</title>
    <meta name="keywords" content="重庆家教、重庆私教、重庆一对一、重庆补课" />
    <meta name="description" content="向日葵家教，重庆家教/私教/一对一补课，人人都请得起的家教平台" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/news.css" />
</head>

<body>
    <div class="notice_page">
        <div class="content">
            <div class="infobox">

                <div class="head_box">
                    <text class="title">{$info.title}</text>
                    <text class="create_time">{$info.create_time}</text>
                </div>
                <div class="top_img" v-if="notice_infodata.pic|| notice_infodata.pic!=''">
                    <image :src="pic_url+notice_infodata.pic" mode="widthFix"></image>
                </div>
                <div class="content" v-html="notice_infodata.detail">
                    {$info.detail}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/jquery-2.1.1.min.js"></script>

</html>
<script type="text/javascript">
</script>