<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <title>教员简历</title>
    <meta name="keywords" content="重庆家教、重庆私教、重庆一对一、重庆补课"/>
    <meta name="description" content="向日葵家教，重庆家教/私教/一对一补课，人人都请得起的家教平台"/>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/student_show.css"/>
</head>

<body>
<div class="student_detail">
    <div class="detail_container">
        <div class="white_box">
            <div class="list_msgbox">
                <text class="handle_text">学员信息</text>
                <div class="detial_infobox">
                    <div class="line_text">
                        <text class="color_title">联系人：</text>
                        <text class="ifno_text">{$info.name}</text>
                    </div>

                    <div class="line_text">
                        <text class="color_title">学员性别：</text>
                        {if $info.gender==1}
                        <text class="ifno_text">男</text>
                        {elseif $info.gender==2}
                        <text class="ifno_text">女</text>
                        {else}
                        <text class="ifno_text">不限</text>
                        {/if}
                    </div>
                    <div class="line_text">
                        <text class="color_title">学员概况：</text>
                        <div class="areate_text">
                            <text>{$info.gai_kuang}</text>
                        </div>
                    </div>
                    <div class="line_text">
                        <text class="color_title">家教区域：</text>
                        <text class="ifno_text">{$info.area}</text>
                    </div>
                    <div class="line_text">
                        <text class="color_title">详细地址：</text>
                        <text class="ifno_text">{$info.address}</text>
                    </div>
                </div>
            </div>


            <div class="list_msgbox">
                <text class="handle_text">家教需求</text>
                <div class="detial_infobox">
                    <div class="line_text">
                        <text class="color_title">家教科目：</text>
                        <text class="ifno_text">{$info.subject_name}</text>
                    </div>
                    <div class="line_text">
                        <text class="color_title">家教时间：</text>
                        <text class="ifno_text">{$info.teach_time}</text>
                    </div>
                    <div class="line_text">
                        <text class="color_title">教员性别：</text>
                        {if $info.teacher_gender==1}
                        <text class="ifno_text">男</text>
                        {elseif $info.teacher_gender==2}
                        <text class="ifno_text">女</text>
                        {else}
                        <text class="ifno_text">不限</text>
                        {/if}
                    </div>
                    <div class="line_text">
                        <text class="color_title">教员身份：</text>
                        <!--//大学生教员|1|primary,普通教员|2|success,专业教员|3|danger,不限|4|info-->
                        {if $info.teacher_identity==1}
                        <text class="ifno_text">大学生教员</text>
                        {elseif $info.teacher_identity==2}
                        <text class="ifno_text">普通教员</text>
                        {elseif $info.teacher_identity==3}
                        <text class="ifno_text">专业教员</text>
                        {else}
                        <text class="ifno_text">不限</text>
                        {/if}
                    </div>

                    <div class="line_text">
                        <text class="color_title">教员要求：</text>
                        <text class="ifno_text">{$info.teacher_require}</text>
                    </div>

                    <div class="line_text">
                        <text class="color_title">家教费用：</text>
                        <text class="ifno_text price_color">{$info.expense}</text>
                    </div>
                </div>
            </div>


            <div class="botm_ordernum">
                <text>订单编号：{$info.sn}</text>
                <text>发布时间：{$info.create_time}</text>
            </div>
        </div>
    </div>

    {if $type !=1}
    <div class="bottom_butn" v-if="is_show_btn">
        <div class="show_button" v-if="student_datainfo.status==2?false:true">

            <!--//1 联系学员,  2 支付20元  免费获取,  3 立即联系,  4 此订单已有老师联系,  5 已完成-->
            {if $info.button_status==1}
            <div class="no_complatebnt">
                <div class="btn_onebox" style="margin-bottom: 10px">
                    <button id="lxxy">联系学员</button>
                </div>
            </div>

            {elseif $info.button_status==2}

            <!--//当徐要购买时 判断后台是否开启 助力开关-->
            <!--{if $info.help_switch==0}
            <div class="no_complatebnt">
                <div class="btn_onebox" >
                    <button class="payment" style="margin: 0px 5px 0px 15px">支付 ￥{$info.zj_price}购买</button>
                    <button style="margin: 0px 15px 0px 5px">免费获取</button>
                </div>
                <div class="goutongbtn" style="font-size: 10px;text-align: center;margin-top: 10px;color: #999">
                    <text class="tiostile">不成功全额退款</text>
                </div>
                <div class="goutongbtn" style="font-size: 10px;text-align: center;margin:5px 16px 10px 16px;color: #999">
                    <text>教员支付中介费直接购买订单联系家长，若未联系成功，可在个人中心申请全额退款</text>
                </div>
            </div>
            {else}-->
            <div class="no_complatebnt">
                <div class="btn_onebox" >
                    <button class="payment" onclick="goPay('{$info.demand_id}')">支付 ￥{$info.zj_price}购买</button>
                </div>
                <div class="goutongbtn" style="font-size: 10px;text-align: center;margin-top: 10px;color: #999">
                    <text class="tiostile">不成功全额退款</text>
                </div>
                <div class="goutongbtn" style="font-size: 10px;text-align: center;margin:5px 16px 10px 16px;color: #999">
                    <text>教员支付中介费直接购买订单联系家长，若未联系成功，可在个人中心申请全额退款</text>
                </div>
            </div>
            <!--{/if}-->

            {elseif $info.button_status==3}
            <div class="no_complatebnt">
                <div class="btn_onebox" style="margin-bottom: 15px">
                    <!--<a href="tel:{$info.mobile}"><button >立即联系</button></a>-->
                    <button >立即联系</button>
                </div>
            </div>

            {elseif $info.button_status==4}
            <div class="no_complatebnt">
                <div class="btn_onebox" >
                    <button >教员与学员沟通中</button>
                </div>
                <div class="goutongbtn" style="font-size: 10px;text-align: center;margin:10px 0px 10px 0px;color: #999">
                    <text>{$info.is_yiman_msg}</text>
                </div>
            </div>

            {else}
            <div class="complatebtn">
                <button>已完成</button>
                <text>此订单已经聘请好合适的教员</text>
            </div>
            {/if}



           <!-- <div class="no_complatebnt" v-else>
                <div class="btn_onebox" v-if="!login_true|| groupid!=2||resume_state!=1">
                    <button @click="jump_login">联系学员</button>
                </div>
                <div class="else_btnmest" v-else>
                    <div class="contact_btn" v-if="student_datainfo.is_contact==1">
                        <button @click="contact_student">立即联系</button>
                    </div>
                    <div class="no_container" v-else>
                        <div class="goutongbtn" v-if="student_datainfo.is_yiman==1">
                            <button>教员与学员沟通中</button>
                            <text>{$info.is_yiman_msg}</text>
                        </div>
                        <div class="start_switchbtnbox" v-else>
                            <div class="btn_onebox" v-if="help_switch==0">
                                <button @click="contact_student">支付 ￥{$info.zj_price}购买</button>
                                <div class="taost_infobox">
                                    <text class="tiostile">不成功全额退款</text>
                                    <text>教员支付中介费直接购买订单联系家长，若未联系成功，可在个人中心申请全额退款</text>
                                </div>
                            </div>
                            <div class="hel_mestbtn" v-else>
                                <div class="btn_twobox">
                                    <div class="list_btnbox">
                                        <button @click="contact_student">支付
                                            ￥{$info.zj_price}购买
                                        </button>
                                    </div>
                                    <div class="list_btnbox">
                                        &lt;!&ndash; <button open-type="share">免费获取</button> &ndash;&gt;
                                        <button @click="show_helppopfun">免费获取</button>
                                    </div>
                                </div>
                                <div class="taost_infobox">
                                    <text class="tiostile">不成功全额退款</text>
                                    <text>教员支付中介费直接购买订单联系家长，若未联系成功，可在个人中心申请全额退款</text>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

    </div>
    {/if}
    <!--<u-popup v-model="toast_pop" mode='center' width='90%' border-radius='16' :safe-area-inset-bottom='false'>
        <div class="toast_container">
            <div class="head_titlebox">
                <text>提示</text>
            </div>
            <div class="status_onebox" v-if="pop_status==0">
                <text class="contentext">简历审核未通过</text>
                <button @click="jump_index">去修改</button>
            </div>
            <div class="status_twobox" v-if="pop_status==1">
                <div class="conte_info">
                    <text class="mest_titl">
                        支付成功，不成功全额退款
                    </text>
                    <text class="sm_taost">教员支付中介费直接购买订单联系家长，若未联系成功，可在个人中心申请全额退款</text>
                </div>
                <div class="buttoncontae" @click="contact_phonebtn">
                    <div class="conta_center">
                        <image src="../img/server_call.png" mode=""></image>
                        <text>联系学员</text>
                    </div>
                </div>
            </div>
            <div class="status_threebox" v-if="pop_status==2">
                <div class="sm_taost">
                    <text>{{message_text}}</text>
                </div>
                <button @click="toast_pop=false">确定</button>
            </div>

        </div>
    </u-popup>-->


</div>
</body>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/plugins/layui/layui.js"></script>

</html>
<script type="text/javascript">
    layui.use(['form'], function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.$;

        //获取后端传来的用户信息
        var user_info = "{$user_info}";
        //获取 后端传来的教师信息
        var teacher_id = "{$teacher_info.teacher_id}";
        var teacher_status = "{$teacher_info.status}";
        var is_on_off = "{$teacher_info.is_on_off}";


        //点击 联系学员
        $('#lxxy').click(function (){

            if(!user_info){
                return  layer.msg('请先登录',{time: 1000},function(){
                    location.href = '/login'
                });
            }

            if(!teacher_id){
                return  layer.msg('您还不是老师,请先注册成为老师',{time: 1000},function(){
                    //location.href = '/login'
                });
            }

            if(teacher_status!=1){
                return  layer.msg('对不起,你还未通过审核',{time: 1000},function(){
                    //location.href = '/login'
                });
            }

            if(is_on_off!=1){
                return  layer.msg('对不起,您以下线',{time: 1000},function(){
                    //location.href = '/login'
                });
            }

        });

    });

    //去支付
    function goPay(demand_id){

        $.ajax({
            url : '/order/createOrder',
            type : 'post',
            dataType : 'json',
            data : {'demand_id':demand_id},
            success : function (res) {
                console.log(res);
                if(res.status==200){
                    window.location.hreflang = res.data;
                }else{
                    layer.msg(res.msg);
                }
            }
        })
    }


</script>