<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <title>教员简历</title>
    <meta name="keywords" content="重庆家教、重庆私教、重庆一对一、重庆补课"/>
    <meta name="description" content="向日葵家教，重庆家教/私教/一对一补课，人人都请得起的家教平台"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/teacher_show.css"/>
</head>

<body>
<div class="teacher_detail" id="app">
    <div class="detial_container">
        <div class="teacher_infobox">
            <div class="top_userincont">
                <div class="lf_avatarbox">
                    <div class="avatar_icon">
                        <img class="avatar" src="{$info.head_img}"
                             draggable="false">
                        <img class="sex_img" src="/img/set_nvicon.png" draggable="false">
                    </div>
                    <div class="teace_login">
                        <div><span>最近登录</span></div>
                        <div><span>{$info.login_time}</span></div>
                    </div>
                </div>
                <div class="rf_nameinfobx">
                    <div class="mest_info">
                        <div class="list_namebox">
                            <div class="name_text"><span>{$info.name}（{$info.gender_str}）</span></div>
                            <div class="id_text"><span>(ID：{$info.teacher_id})</span></div>
                        </div>
                        <div class="age_type">
                            <div class="color_green"><span>{$info.age}岁</span></div>
                            <div class="color_green"><span>教龄：{$info.teaching_age}年</span></div>
                            <div class="color_yelow"><span>{$info.teacher_identity_str}</span></div>
                        </div>
                        <div class="user_typeli">
                            <div class="shcol_text"><span>{$info.school}</span></div>
                            <div class="type_stu"><span>{$info.specialty}</span></div>
                        </div>
                    </div>
                    <div class="collagebox">
                        <div class="end_collage" onclick="addCollect('{$info.teacher_id}')">
                            {if $info.is_collect==1}
                            <img class="no_iconimg" src="/img/collage_img.png" draggable="false">
                            {else}
                            <img class="no_iconimg" src="/img/collage_noicon.png" draggable="false">
                            {/if}
                            <div><span>收藏</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom_numbox">
                <div class="collae_box">
                    <div class="clate_cent">
                        <div class="tit_text">收藏</div>
                        <div class="del_num">{$info.collect_num}次</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="collae_box">
                    <div class="clate_cent">
                        <div class="tit_text">任教</div>
                        <div class="del_num">{$info.teach_num}次</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="collae_box">
                    <div class="clate_cent">
                        <div class="tit_text">预约</div>
                        <div class="del_num">{$info.yuyue_num}次</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message_headtext">
            <div>任教信息</div>
        </div>
        <div class="teach_desctext">
            <div class="desc_head">自我描述</div>
            <div class="desc_text">{$info.self_desc}</div>
        </div>
        <div class="teach_desctext">
            <div class="desc_head">任教科目</div>
            <div class="desc_text">{$info.subject_names_str}</div>
        </div>
        <div class="teach_desctext">
            <div class="list_tiel">
                <div class="title_desc">任教区域</div>
                <div class="title_text">
                    {$info.area}
                </div>
            </div>
            <div class="list_tiel">
                <div class="title_desc">任教方式</div>
                <!-- teaching_typelistpop -->
                <div class="list_box">
                    <div class="title_text">{$info.teaching_way_str}</div>
                </div>
            </div>
        </div>
        <div class="teach_desctext">
            <div class="desc_head">家教经验</div>
            <div class="desc_text">{$info.experience}</div>
        </div>
        <div class="teach_desctext">
            <div class="desc_head">课酬要求</div>
            <div class="price_box">
                <div class="price_text">￥{$info.salary}</div>
                <div class="plan_desc" @click="jump_pagebtn">（查看平台参考标准）</div>
            </div>
        </div>
        <div class="teach_desctext">
            <div class="desc_head">所获证书</div>
            <div class="desc_text">{$info.certificate}</div>
        </div>
        <div class="rate_text_info">
            <div class="rate_head">
                <div class="rate_color">任教评价</div>
                <div class="rate_num">（{$info.comment_num}条）</div>
            </div>
            <div class="rate_icon">
                <div class="rate_box">
                    <u-rate :count="5" v-model="detail_infodata.avg_score" size='44' active-color='#FFCE27'
                            :disabled="true"></u-rate>
                </div>
                <div class="rate_number">（{$info.avg_score}）</div>
            </div>
        </div>
        <div class="rate_infobox">
            {volist name="comment_list" id="vo"}
            <div class="list_ratebox" >
                <div class="lf_avatar">
                    <image src="{$vo.avatar}"></image>
                </div>
                <div class="rate_mesage">
                    <div class="teact_nametext">
                        <div class="tea_name">{$vo.nickname}</div>
                        <div class="obj_s">
                            <div>{$vo.subject_name}</div>
                        </div>
                        <div class="rate_time">{$vo.create_time}</div>
                    </div>
                    <div class="rate_mestinfo">
                        <div class="rate_desc">{$vo.content}</div>
                        <div class="rate_imglist">
                            <!-- 四张图片 -->
                            <div class="imglistfour">
                                {volist name="$vo.pics" id="vimg"}
                                <image  src="{$vimg}" ></image>
                                {/volist}
                            </div>
                            <!-- 多张图片 -->
                          
                        </div>
                    </div>

                </div>
            </div>
            {/volist}
            <div class="no_datamest" >
                <div class="autobox">
                    <u-empty text="学员暂未评价" mode="list"></u-empty>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_butn">
        <!-- <button @click="sub_appointfun">预约教员</button> -->
        {if $info.is_direct_contact==1}
        <button><a style="display:block;color:#fff" href="tel:{$info.mobile}">联系教员</a></button>
        {else}
        <button   @click="choose_student">预约教员</button>
        {/if}

    </div>
    <div id="tank" style="display:none">
        <div class="libray_container" v-if="order_listarr.length>0">
            <div class="header_title">
                <div>选择学员</div>
            </div>
            <scroll-view scroll-y="true" style="height: 40vh;" @scrolltolower="reachBottom">
                <div class=" list_content" v-for="(item,i) in order_listarr">
                    <div class="list_mestbox" @click="choose_activefun(i)">
                        <div class="chose_active">
                            <div class="active_chose">
                                <image v-if="chose_active==i?true:false" src="/img/stu_active.png" mode="">
                                </image>
                            </div>
                        </div>
                        <div class="list_library">
                            <div class="lf_avatarbox">
                                <div class="avatar_icon">
                                    <image class="avatar" :src="item.avatar" mode=""></image>
                                    <image class="sex_img" v-if="item.gender==1" src="/img/sex_icon.png" mode="">
                                    </image>
                                    <image class="sex_img" v-else-if="item.gender==2" src="/img/set_nvicon.png" mode="">
                                    </image>
                                </div>
                                <div class="teace_login">
                                    <div>最近登录</div>
                                    <div>{{item.login_time}}</div>
                                </div>
                            </div>
                            <div class="rf_user_info">
                                <div class="list_namebox">
                                    <div class="lf_namebox">
                                        <div class="ragion_text">{{item.area?item.area:''}}</div>
                                            <div class="name_text">{{item.subject_name}}</div>
                                    </div>
                                    <div class="price_num">{{item.expense}}</div>
                                </div>
                                <div class="student_desc">
                                    <div>{{item.gai_kuang}}</div>
                                </div>
                                <div class="adres_lang">
                                    <div class="adres_info">
                                        <image src="/img/stu_adresicon.png" mode=""></image>
                                        <div>{{item.address}}</div>
                                    </div>
                                    <!-- <div class="lang_text">2.569km</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_btn">
                        <div @click="jump_setpage(item)">立即查看</div>
                    </div>
                </div>
                </scroll-div>
                <div class="pop_btncontent">
                    <div class="btom_btnbox">
                        <button @click="create_order">创建订单</button>
                    </div>
                    <div class="btom_btnbox">
                        <button @click="sub_appointfun">立即预约</button>
                    </div>
                </div>
        </div>
        <div class="no_datainfobox" v-else>
            <div class="no_container">
                <div class="autobox">
                    <u-empty text="暂无订单" mode="list"></u-empty>
                </div>
            </div>
            <div class="btom_btnbox">
                <button @click="create_order">立即创建</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery-2.1.1.min.js"></script>
</html>
<script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>

<script src="/static/js/plugins/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form'], function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.$;

    });

    //添加收藏
    function addCollect(teacher_id){
        $.ajax({
            url : '/user/addOrCancelCollect',
            type : 'post',
            dataType : 'json',
            data : {'teacher_id':teacher_id},
            success : function (res) {
                console.log(res);
                if(res.status==200){
                    layer.msg(res.msg,{time: 1000},function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(res.msg);
                }
            }
        })
    }

var vm = new Vue({
    el: '#app',
    data: {
            teacher_id:{$info.teacher_id},
             show_way: false,
                order_listarr: [],
                choose_stupop: false,
               pic_url: "https://wx.xrkjj.net/",
                teaching_typelist:['教员上门', '学生上门', '网上辅导', '住家辅导'],
                // teaching_typelistpop: set_teaching_typelistpop(),
                teaching_typelistpop: [],



                collage_num: 0,
                rate_datalist: [],

                detail_infodata: {},
                // 评论
                page: 0,
                down: 0,
                // 待上学员
                pagetwo: 0,
                down_two: 0,
                chose_active: 0,

                look_type: -1,
    },
    methods: {
        showPic(){
                let imgarr = [];
                imgarr.push(this.pic_url + this.detail_infodata.head_img)
                uni.previewImage({
                    urls: imgarr,
                    current: 0,
                    success() {
                        console.log("sucess")
                    }
                })
            },
            choose_activefun(n){
                console.log(n)
                this.chose_active=n;
            },

            jump_setpage(item) {
                window.location.href="/student/release.html?demand_id="+item.demand_id

            },
            create_order() {
                window.location.href="/student/release.html"
            },

            reachBottom() {
                if (this.down_two == 1) {
                    return false
                }
                this.get_complate_orderlist()

            },
            // 联系教员
            contact_teacher() {
                wx.makePhoneCall({
                    phoneNumber: this.detail_infodata.mobile, //仅为示例，并非真实的电话号码
                })
            },

            // 获取订单
            get_complate_orderlist() {
                this.pagetwo++;
                let data = {
                    limit: 10,
                    page: this.pagetwo,
                    status: 0,
                }
                $.ajax({
                    url : '/student/getStuDemandList',
                    type : 'post',
                    dataType : 'json',
                    data : data,
                    success : function (res) {
                        if (res.status == 200) {
                        if (res.data.length == 0) {
                            vm.pagetwo--;
                            vm.down_two = 1;
                        } else {
                            vm.order_listarr = vm.order_listarr.concat(res.data);
                        }
                    }  
                    }
                })
            },


            choose_student() {
                layer.open({
                  type: 1,
                  title: false,
                  closeBtn: 0,
                  area: ['90%','80%'],
                  shadeClose: true,
                  content: $('#tank')
                });


            },
            // 立即预约
            sub_appointfun() {
                let data = {
                    teacher_id: vm.teacher_id,
                    demand_id: vm.order_listarr[vm.chose_active].demand_id
                }
                $.ajax({
                    url : '/student/addAppointment',
                    type : 'post',
                    dataType : 'json',
                    data : data,
                    success : function (res) {
                       if (res.status == 200) {
                        layer.closeAll();
                         layer.msg("预约成功")
                        } else {
                             layer.msg(res.msg)
                        } 
                    }
                })
            },

            // 收藏
            collage_fun() {
                let token = uni.getStorageSync("token")
                let data = {
                    teacher_id: this.detail_infodata.teacher_id
                }
                this.http.post_request("/user/addOrCancelCollect", data, token).then(res => {
                    console.log(res)
                    if (res.status == 200) {
                        uni.showToast({
                            title: res.msg,
                            icon: "none"
                        })

                        if (this.detail_infodata.is_collect == 1) {
                            this.detail_infodata.is_collect = 0
                        } else {
                            this.detail_infodata.is_collect = 1
                        }
                    } else {
                        uni.showToast({
                            title: res.msg,
                            icon: "none"
                        })
                    }
                })
                // if (this.collage_num == 0) {
                //  this.collage_num = 1
                // } else {
                //  this.collage_num = 0
                // }
            },

            // 获取评论
            get_reatedatalistfun(teacher_id) {
                this.page++;
                let data = {
                    page: this.page,
                    limit: 10,
                    teacher_id: teacher_id,
                }
                uni.showLoading({
                    title:"加载中",
                    icon:"none"
                })
                this.http.post_request('/index/getTeacherCommentList', data).then(res => {
                    console.log(res)
                    uni.hideLoading()
                    if (res.status == 200) {
                        // this.rate_datalist=res.data;

                        if (res.status == 200) {
                            if (res.data.length == 0) {
                                this.page--;
                                // let titmeg = "到底了！";
                                // if (this.page == 0) {
                                //  titmeg = "暂无评论"
                                // }
                                // uni.showToast({
                                //  title: titmeg,
                                //  icon: "none"
                                // });
                                this.down = 1;
                            } else {
                                this.rate_datalist = this.rate_datalist.concat(res.data);

                                console.log(res.data)

                            }

                        } else {
                            uni.showToast({
                                title: "No,服务器开小差了~~",
                                icon: "none"
                            })
                        }


                    }
                })
            },


            jump_pagebtn() {
                uni.navigateTo({
                    url: "../charge_standard/charge_standard"
                })
            },
            // 获取教师详情
            get_teacherdetailinfo(detail_id) {
                let data = {
                    teacher_id: detail_id,
                }
                let token = uni.getStorageSync("token")
                this.http.post_request('/index/getTeacherInfo', data, token).then(res => {
                    console.log(res)
                    if (res.status == 200) {
                        if (res.data.teaching_way) {
                            res.data.teaching_way_list = res.data.teaching_way.split(",")
                        } else {
                            res.data.teaching_way_list = []
                        }

                        let way_list = set_teaching_typelistpop()
                        way_list.forEach(item => {
                            for (var i = 0; i < res.data.teaching_way_list.length; i++) {
                                let info = res.data.teaching_way_list[i]
                                if (info == item.num) {
                                    this.teaching_typelistpop.push(item)
                                }

                            }
                        })

                        this.detail_infodata = res.data;

                        this.show_way = true;

                        this.get_reatedatalistfun(res.data.teacher_id)
                    }
                })
            }
    }
})

vm.get_complate_orderlist();
</script>