
.base_info{
		background-color: #ffffff;
		padding: 0 24rpx;
		.kemu_input{
			position: relative;
			.kemu_select{
				position: absolute;
				top: 0;
				z-index: 99;
			}
		}
		.course_tip{
			font-size: 22rpx;
			line-height: 26rpx;
			color: #999999;
		}
		.avatar_section{
			.avatar_upload{
				position: relative;
				width: 72rpx;
				height: 72rpx;
				.avatar_delete_icon{
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			.choose_avatar{
				position: relative;
			}
			.choose_avatar button {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: transparent;
			}
		}
		.county_list{
			gap: 12rpx;
			display: flex;
			flex-wrap: wrap;
		}
	}
	/deep/.u-form-item{
		padding: 6rpx 0 !important;
	}
	.xuexin_upload{
		margin-left: 160rpx;
	}
	.xuexin_img_section{
		position: relative;
		.xuexin_img{
			width: 36rpx;
			height: 36rpx;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
.p_img_flex{
	display: flex;
	align-items: center;
	gap: 12rpx;
	flex-wrap: wrap;
	.p_img_item{
		width: 120rpx;
		height: 120rpx;
	}
}

.p_upload-pic {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 26rpx;
		border: 2rpx dashed #000;
		border-radius: 6rpx;
	}
	
.pop_category{
	padding: 24rpx 24rpx 64rpx 24rpx;
	.pop_category_tip{
		margin-bottom: 24rpx;
		color: #999999;
		font-size: 24rpx;
	}
	.pop_county_list{
		margin: 40rpx 0;
		display: flex;
		flex-wrap: wrap;
		gap: 24rpx;
	}
}
/deep/.u-cell{
	padding: 0 !important;
}
.placeholder_color{
	color: #C0C4CC;
	font-size: 28rpx;
}
.placeholder_more{
	color: red;
	font-size: 28rpx;
}
.kemu_cell{
	height: 144rpx;
}
.kemu_flex{
	display: flex;
	align-items: center;
	gap: 6rpx;
	flex-wrap: wrap;
}
.btn_off{
	position: absolute;
    left: 12rpx;
    background-color: #C0C4CC;
    padding: 12rpx;
    border-radius: 6rpx;
    color: #ffffff;	
}
.video-close{
	
}