{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='appointment_id' id='appointment_id' value="{$info.appointment_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">会员id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="mid" value="{$info.mid}" name="mid" class="form-control" placeholder="请输入会员id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">教师id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="teacher_id" value="{$info.teacher_id}" name="teacher_id" class="form-control" placeholder="请输入教师id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">老师姓名：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="teacher_name" value="{$info.teacher_name}" name="teacher_name" class="form-control" placeholder="请输入老师姓名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">老师电话：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="teacher_mobile" value="{$info.teacher_mobile}" name="teacher_mobile" class="form-control" placeholder="请输入老师电话">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">老师微信：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="teacher_wechat" value="{$info.teacher_wechat}" name="teacher_wechat" class="form-control" placeholder="请输入老师微信">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">家长发布id：</label>
						<div class="col-sm-9">
							<input type="text" id="demand_id" value="{$info.demand_id}" name="demand_id" class="form-control" placeholder="请输入家长发布id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">学生姓名：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="stu_name" value="{$info.stu_name}" name="stu_name" class="form-control" placeholder="请输入学生姓名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">学生手机号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="stu_mobile" value="{$info.stu_mobile}" name="stu_mobile" class="form-control" placeholder="请输入学生手机号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">学生年级id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="grade_id" value="{$info.grade_id}" name="grade_id" class="form-control" placeholder="请输入学生年级id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">学生年级：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="grade_name" value="{$info.grade_name}" name="grade_name" class="form-control" placeholder="请输入学生年级">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">学生科目id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="subject_id" value="{$info.subject_id}" name="subject_id" class="form-control" placeholder="请输入学生科目id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">学生科目：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="subject_name" value="{$info.subject_name}" name="subject_name" class="form-control" placeholder="请输入学生科目">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">创建时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{if condition="$info.create_time neq 0"}{$info.create_time|date='Y-m-d H:i:s'}{/if}" name="create_time"  placeholder="请输入创建时间" class="form-control" id="create_time">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">订单编号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="sn" value="{$info.sn}" name="sn" class="form-control" placeholder="请输入订单编号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">订单金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="amount" value="{$info.amount}" name="amount" class="form-control" placeholder="请输入订单金额">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['status'])){ $info['status'] = '0'; }; ?>
							<input name="status" value="0" type="radio" {if condition="$info.status eq '0'"}checked{/if} title="已预约">
							<input name="status" value="1" type="radio" {if condition="$info.status eq '1'"}checked{/if} title="待支付(预约成功)">
							<input name="status" value="2" type="radio" {if condition="$info.status eq '2'"}checked{/if} title="已完成">
							<input name="status" value="3" type="radio" {if condition="$info.status eq '3'"}checked{/if} title="预约失败">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#create_time',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('appointment_id').set('mid').set('teacher_id').set('teacher_name').set('teacher_mobile').set('teacher_wechat').set('demand_id').set('stu_name').set('stu_mobile').set('grade_id').set('grade_name').set('subject_id').set('subject_name').set('create_time').set('sn').set('amount');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var status = $("input[name = 'status']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/Appointment/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('status',status);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
