.standard_page {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #F6EFE6, #F8F8F8);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    padding-top:10px;

    .charge_tablecontainer {
      padding: 0 4%;

      .list_table {
        margin-bottom: 25px;
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;

        .table_headtext {
          display: flex;
          padding: 10px 0;

          text {
            margin: auto;
            font-size: 15px;
            color: #000;
            font-weight: 600;
          }
        }

        .table_center {
          margin-top: 10px;

          .tab_title {
            display: flex;
            padding: 12px 0;
            background-color: #000;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .list_title {
              width: 25%;
              display: flex;

              text {
                margin: auto;
                text-align: center;
                font-size: 14px;
                color: #fff;
              }
            }

          }

          .table_info {
            width: 100%;
            display: flex;
            margin-bottom: 3px;

            .list_info {
              width: 25%;
              padding: 12px 0;
              display: flex;
              border: 1px solid #ddd;

              text {
                margin: auto;
                font-size: 13px;
                color: #333;
              }
            }

            .bg_color1 {
              background-color: #FFF5F4;
            }

            .bg_color2 {
              background-color: #FEF8E8;
            }

            .bg_color3 {
              background-color: #E2F0FF;
            }

            .bg_color4 {
              background-color: #EFFFF5;
            }
          }
        }
      }
    }
  }