.instructions_page {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #F6EFE6, #F8F8F8);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  color: #303133;
  font-size: 14px;
}
.instructions_page .instri_container {
  padding: 0 5%;
}
.instructions_page .instri_container .head_text {
  width: 100%;
  padding: 15px 0 20px;
}
.instructions_page .instri_container .head_text .instru_title {
  width: 100%;
  padding: 0 15px;
  display: block;
  border-left: 4px solid #FB7206;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
.instructions_page .instri_container .list_info {
  width: 100%;
  padding: 0 10px 15px;
}
.instructions_page .instri_container .list_info .list_head {
  display: flex;
}
.instructions_page .instri_container .list_info .list_head .span_dot {
  width: 9px;
  margin: auto 0;
  height: 9px;
  display: block;
  border-radius: 100%;
  background-color: #6C7DC6;
}
.instructions_page .instri_container .list_info .list_head .span_text {
  font-size: 15px;
  color: #000;
  font-weight: 600;
  margin: auto 10px;
}
.instructions_page .instri_container .list_info .arete_descbox {
  width: 100%;
  padding: 10px 0 10px 15px;
}
.instructions_page .instri_container .list_info .arete_descbox .areate_info {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
.instructions_page .instri_container .list_info .arete_descbox .list_text .syamble_num {
  font-size: 13px;
  color: #6C7DC6;
  line-height: 20px;
}
.instructions_page .instri_container .list_info .arete_descbox .list_text .li_text {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
