  .indexpage {
    width: 96%;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 0 2%;
    padding-bottom: 20px;

    .page_content {
      padding-bottom: 50px;
      width: 100%;

      .top_searchbosx {
        width: 100%;
        background-color: #ffffff;
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        .lf_citybox {
          display: flex;
          width: 24%;
          margin: auto 0;

          a {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            margin: auto 0;
            font-size: 15px;
            color: #000;
            text-align: center;
            display: block;
            font-weight: 600;
          }

          img{
            margin: auto 0;
            width: 16px;
            height: 16px;
          }
        }

        .search_box {
          display: flex;
          width: 73%;
          transition-duration: 0.5s;
          border-radius: 50px;
          padding: 5px 10px;
          background-color: #F0F4F7;
          margin: auto 0;
          justify-content: space-between;

          img{
            margin: auto 0;
            width: 16px;
            height: 16px;
          }

          input {
            width: 88%;
            font-size: 14px;
            color: #000;
          }
        }
      }

      .banner {
        width: 100%;
        height: 180px;
        margin: 10px 0;
        position: relative;

        .swiper {
          height: 100%;
          background-color: #FFFFFF;
          margin: auto;
          overflow: hidden;
          border-radius: 7px;

          .swiper-item {
            width: 100%;
            height: 100%;

            img{
              width: 100%;
              height: 100%;
              border-radius: 7px;
            }
          }
        }

        .dot_banerbox {
          width: 100%;
          display: flex;
          position: absolute;
          bottom: 7px;

          .dot_center {
            margin: auto;
            display: flex;

            text {
              width: 10px;
              margin: auto 6px;
              border-radius: 50px;
              height: 10px;
              display: block;
              background-color: #fff;
            }

            .active_dot {
              width: 24px;
              height: 8px;
              transition-duration: 0.5s;
              background-color: #ef6300;
            }
          }
        }

      }

      .taost_container {
        width: 100%;


        .taost_cneter {
          width: 100%;
          background-color: #F3F3F3;
          display: flex;
          padding: 10px 0;
          border-radius: 7px;
          justify-content: space-between;

          .lf_icon {
            width: 20%;
            margin: auto;
            display: flex;

            img{
              margin: auto;
              width: 25px;
              height: 22px;
            }
          }

          .lf_messsage {
            width: 80%;
            display: flex;

            .swiper {
              width: 100%;
              margin: auto;
              height: 50px;
              display: flex;

              swiper-item {
                width: 100%;
                margin: auto;
                display: flex;

                text {
                  width: 100%;
                  margin: auto 0;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 15px;
                  color: #000;
                }
              }
            }
          }
        }
      }

      .warehouse {
        width: 100%;
        padding: 10px 0;
        display: flex;

        .list_house {
          width: 50%;
          display: flex;
          background-image: linear-gradient(#F86253, #FA834E);
          padding: 20px 0;
          border-top-left-radius: 20px;

          .center_house {
            display: flex;
            flex-direction: column;
            margin: auto;

            img{
              width: 40px;
              height: 40px;
              margin:0 auto
            }

            text {
              font-size: 15px;
              color: #ffffff;
              width: 100%;
              display: block;
              text-align: center;
              margin-top: 20px;
            }
          }

        }

        .blue_house {
          background-image: linear-gradient(#4584F8, #4EADF8);
          width: 50%;
          display: flex;
          border-top-right-radius: 20px;
          padding: 20px 0;

          .center_house {
            display: flex;
            flex-direction: column;
            margin: auto;

            img{
              width: 40px;
              height: 40px;
              margin:0 auto
            }

            text {
              font-size: 15px;
              color: #ffffff;
              width: 100%;
              display: block;
              text-align: center;
              margin-top: 20px;
            }
          }
        }
      }

      .list_bloackbox {
        width: 100%;

        .block_center {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          a {
            width: 25%;
            height: 80px;
            display: block;
            line-height: 80px;
            text-align: center;
            border-radius: 4px;
          }

          .color_text1 {
            background-color: #FFF5F4;
            color: #E47323;
          }

          .color_text2 {
            background-color: #FEF8E8;
            color: #E8A536;
          }

          .color_text3 {
            background-color: #E2F0FF;
            color: #478EF8;
          }

          .color_text4 {
            background-color: #EFFFF5;
            color: #3EB16E;
          }

          .color_text5 {
            background-color: #F4FFFE;
            color: #31CFBF;
          }

          .color_text6 {
            background-color: #FFEFF9;
            color: #D579B0;
          }

          .color_text7 {
            background-color: #E3FCFF;
            color: #49C4D2;
          }

          .color_text8 {
            background-color: #FFEFEF;
            color: #D45D5D;
          }
        }
      }

      .type_educatiaon {
        width: 100%;
        padding: 7px 0;

        .eductaion_center {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .list_education {
            width: 30%;
            background-color: #E9EFFF;
            padding: 12px 0;
            display: flex;
            border-radius: 20px;
            flex-direction: column;

            img{
              width: 56px;
              height: 46px;
              margin: 0px auto 10px;
            }

            text {
              font-size: 12px;
              color: #000;
              font-weight: 600;
              display: block;
              text-align: center;
            }
          }
        }
      }

      .active_mestbox {
        width: 100%;
        padding: 10px 0;

        .new_activelist {
          padding: 0 7px;
          margin: 12px 0;
          background-color: #fbf5ef;
          border-radius: 18px;

          .new_head {
            width: 100%;
            padding: 7px 0 10px;
            display: flex;
            justify-content: space-between;

            .mest_headtitle {
              font-size: 15px;
              color: #000;
              font-weight: 600;

            }
          }

          .mest_list_container {
            width: 100%;
            padding-bottom: 7px;

            .list_info {
              width: 100%;
              position: relative;
              padding: 10px 0px 10px 20px;
              border-bottom: 1px dashed #ddd;
              white-space:nowrap;
              text-overflow:ellipsis;
              overflow: hidden;

              .name_text {
                 display: inline;
                font-size: 14px;
                color: #3EB16E;
                font-weight: 600;
              }

              .schoole_text {
                 display: inline;
                margin-left: 20px;
              }
            }

            .list_info::before {
              content: "";
              position: absolute;
              left: 7px;
              width: 5px;
              height: 5px;
              background-color: #bfbebe;
              border-radius: 100%;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        .new_teacherlist {
          padding: 0 7px;
          margin: 7px 0;
          background-color: #fbf5ef;
          border-radius: 18px;

          .new_head {
            width: 100%;
            padding: 7px 0 10px;
            display: flex;
            justify-content: space-between;

            .mest_headtitle {
              font-size: 15px;
              color: #000;
              font-weight: 600;

            }
          }

          .mest_list_container {
            width: 100%;
            padding-bottom: 7px;

            .list_info {
              width: 100%;
              position: relative;
              padding: 10px 0px 10px 20px;
              border-bottom: 1px dashed #ddd;
              display: block;

              .name_text {
                 display: inline;
                font-size: 14px;
                color: #3EB16E;
                font-weight: 600;
              }

              .schoole_text {
                 display: inline;
                font-size: 14px;
                color: #000;
              }
            }

            .list_info::before {
              content: "";
              position: absolute;
              left: 7px;
              width: 5px;
              height: 5px;
              background-color: #bfbebe;
              border-radius: 100%;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        .new_studentlist {
          padding: 0 7px;
          margin: 7px 0;
          background-color: #fbf5ef;
          border-radius: 18px;

          .new_head {
            width: 100%;
            padding: 7px 0 10px;
            display: flex;
            justify-content: space-between;

            .mest_headtitle {
              font-size: 15px;
              color: #000;
              font-weight: 600;

            }
          }

          .mest_list_container {
            width: 100%;
            padding-bottom: 7px;

            .list_info {
              width: 100%;
              position: relative;
              padding: 10px 0px 10px 20px;
              border-bottom: 1px dashed #ddd;
              white-space:nowrap;
              text-overflow:ellipsis;
              overflow: hidden;
              display: block;

              .name_text {
                 display: inline;
                font-size: 14px;
                color: #3EB16E;
                font-weight: 600;
              }

              .schoole_text {
                display: inline;
                margin-left: 10px;
              }

              .stu_desc {
                width: 100%;
                display: flex;
                padding: 10px 0 0;

                .schoole_text {
                  margin-left: 0px;
                  font-size: 24px;
                  color: #888;
                  overflow: hidden;

                  text-overflow: ellipsis;

                  display: -webkit-box;

                  -webkit-line-clamp: 2;

                  -webkit-box-orient: vertical;
                }
              }
            }

            .list_info::before {
              content: "";
              position: absolute;
              left: 7px;
              width: 5px;
              height: 5px;
              background-color: #bfbebe;
              border-radius: 100%;
              top: 50%;

            }
          }
        }
      }



    }


    .mask_box {
      width: 100%;
      height: 100%;
      display: flex;

      .help_container {
        width: 80%;
        background-color: #fff;
        margin: auto;
        background-image: linear-gradient(to bottom, #F3D7C9, #F7F2F5);
        border-radius: 10px;
        padding-bottom: 20px;

        .conteintbox {
          width: 100%;
          display: flex;
          flex-direction: column;

          .intro_text {
            width: 100%;
            display: block;
            padding: 7px;
            color: #999;
            text-align: center;
          }

          .avatar_img {
            margin: -80px auto 0;
            width: 160px;
            border-radius: 100%;
            height: 160px;

            img{
              width: 100%;
              border-radius: 100%;
              height: 100%;
            }
          }

          .mest_infotwo {
            display: flex;
            width: 80%;
            margin: auto;
            justify-content: flex-end;

            .name_mestbox {
              font-size: 14px;
              color: #000;

              text {
                font-size: 46px;
                color: #FB7206;
              }
            }
          }

          .mest_info {
            padding: 10px 0;
            margin: auto;
            width: 80%;

            .name_mestbox {
              font-size: 14px;
              color: #000;

              text {
                font-size: 46px;
                color: #FB7206;
              }
            }

            .name_mestboxtow {
              margin-left: 50px;
              font-size: 14px;
              color: #000;

              text {
                font-size: 46px;
                color: #FB7206;
              }
            }


          }

        }

        .help_btnbox {
          width: 100%;
          display: flex;
          padding: 50px 6% 0;

          button {
            width: 100%;
            margin: auto;
            font-size: 14px;
            padding: 6px 0;
            color: #fff;
            border-radius: 50px;
            font-weight: 600;
            background-color: #FB7206;
          }

          button:after {
            border: none;

          }
        }

      }
    }

  }

.uni-input-input {
    position: relative;
    display: block;
    height: 100%;
    background: none;
    color: inherit;
    opacity: 1;
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-indent: inherit;
    text-transform: inherit;
    text-shadow: inherit;
}
.uni-input-input, .uni-input-placeholder {
    width: 100%;
}


 