.guest_serverpage {
    width: 100%;
    min-height: 50vh;
    background-image: linear-gradient(to bottom, #F3D7C9, #F7F2F5, #ffffff);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    

    .page_content {
      padding-bottom: 50px;
      width: 100%;

      .gust_codebox {
        display: flex;
        padding: 150px 0 40px;
        flex-direction: column;

        .codeiimg {
          width: 54%;
          margin: auto;

          img {
            width: 100%;
          }
        }

        text {
          margin-top: 10px;
          text-align: center;
          font-weight: 600;
          width: 100%;
          font-size: 14px;
        }
      }

      .contact_phonebox {
        width: 100%;
        display: flex;

        .cent_phone {
          background-color: #FB7206;
          padding: 7px 70px;
          border-radius: 20px;
          margin: auto;
          display: flex;

          img {
            width: 27px;
            height: 27px;
            margin: auto;
          }

          text {
            color: #ffffff;
            font-size: 15px;
            margin: auto 10px;
          }
        }
      }

    }
    
  }


 